@font-face {
  font-family: "Amsterdam Two";
  src: url("/fonts/amsterdam-two-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  padding: 0.2;
  background-color: #000000 !important;
}
.navbar .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar .logo-container {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}
.navbar .logo {
  font-size: 2rem;
  color: #9992C1;
  letter-spacing: 0.2rem;
  font-weight: lighter;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
@media (max-width: 768px) {
  .navbar .logo {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .navbar .logo {
    font-size: 1rem;
  }
}
.navbar .navbar-collapse {
  width: 100%;
  justify-content: center;
}
.navbar .navbar-nav {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .navbar .navbar-nav {
    gap: 1rem;
  }
}
@media (max-width: 320px) {
  .navbar .navbar-nav {
    gap: 0.5rem;
  }
}
.navbar .nav-link {
  color: #ece8f8;
}
.navbar .nav-link:hover {
  color: #7F6ED6;
  text-decoration: none;
  font-weight: bold;
}

.nav-up {
  top: -100px;
}

.nav-down {
  top: 0;
}

.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition: transform 0.3s;
}
.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition: transform 0.3s, opacity 0.3s;
}
.hoverable:hover, .hoverable:focus {
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

.hero {
  position: relative;
  background: url("../assets/header_bg2.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #ece8f8;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.hero .hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}
.hero .hero-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}
@media (max-width: 768px) {
  .hero .hero-content h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 320px) {
  .hero .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
  }
}
.hero .hero-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .hero .hero-content p {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .hero .hero-content p {
    font-size: 0.9rem;
  }
}
.hero .hero-content .hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media (max-width: 768px) {
  .hero .hero-content .hero-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 320px) {
  .hero .hero-content .hero-buttons {
    display: grid;
  }
}

.btn-ghost,
.btn-outline-light {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}
@media (max-width: 768px) {
  .btn-ghost,
  .btn-outline-light {
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
  }
}
@media (max-width: 320px) {
  .btn-ghost,
  .btn-outline-light {
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
  }
}

.btn-ghost {
  background-color: #7F6ED6;
  color: #ece8f8;
  border: 1px solid #ece8f8;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-ghost:hover {
  background-color: rgb(103, 80.7777777778, 213.2222222222);
  color: #000;
  font-weight: 700;
}

.btn-outline-light {
  background-color: transparent;
  color: #ece8f8;
  border: 1px solid #ece8f8;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline-light:hover {
  background-color: #ece8f8;
  color: #482FC4;
  font-weight: 700;
}

footer {
  display: block;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  overflow: hidden;
}
footer h1 {
  font-size: 33px;
  text-align: center;
  font-family: "Cookie", serif;
  color: #ece8f8;
  letter-spacing: 0.2rem;
}
footer .list-inline {
  text-align: center;
  display: flex;
  justify-content: center;
}
footer .list-inline li {
  display: inline;
  padding: 2rem 0;
}
footer .list-inline li a {
  padding: 0.7rem;
  margin: 1.5rem;
  font-size: 1.7rem;
  color: #ece8f8;
  text-decoration: none;
  border-radius: 8px;
  border: solid 0.1px #ece8f8;
  transition: transform 0.3s ease;
}
footer .list-inline li a:hover {
  color: #7F6ED6;
  transform: scale(1.2);
}
footer p {
  margin: 0;
  color: #9992C1;
}

#about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10rem 4rem 4rem;
  gap: 4rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#about .image-container {
  flex: 1;
  max-width: 500px;
  padding-top: 1rem;
}
#about .image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#about .content-container {
  flex: 1;
  padding-top: 1rem;
}
#about .content-container h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #7F6ED6;
  letter-spacing: 0.3rem;
}
@media (max-width: 768px) {
  #about .content-container h1 {
    font-size: 2.5rem;
  }
}
#about .content-container p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #555;
}
#about .content-container p.w3-text-grey {
  color: #555;
}
#about .content-container p strong {
  font-weight: 600;
  color: #555;
}
@media (max-width: 1024px) {
  #about {
    padding-top: 8rem;
    gap: 2rem;
  }
  #about .content-container h1 {
    font-size: 1.5rem;
  }
  #about .content-container p {
    font-size: 0.8rem;
  }
  #about .image-container {
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  #about {
    flex-direction: column;
    padding: 6rem 1.5rem 2rem;
    text-align: center;
  }
  #about .navbar .logo-container {
    margin-bottom: 0;
  }
  #about .image-container {
    max-width: 100%;
    margin: 0 auto 2rem;
    margin-top: 2rem;
  }
  #about .content-container {
    padding-top: 0;
  }
  #about .content-container h1 {
    margin-bottom: 1.5rem;
  }
  #about .content-container p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

#projects {
  padding: 8rem 4rem 4rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}
#projects .projects-container {
  max-width: 1200px;
  margin: 0 auto;
}
#projects .projects-container h2 {
  font-size: 1.5rem;
  margin: 3rem;
  text-align: center;
  color: #7F6ED6;
  letter-spacing: 0.3rem;
}
#projects .projects-container h4 {
  border: solid red 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  font-family: "Cookie", serif;
  font-size: 2rem;
  color: #7F6ED6;
}
#projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 1rem;
}
#projects .project-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
}
#projects .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
#projects .project-card .project-image {
  max-width: 100%;
  width: 100%;
  max-height: 250px;
  height: 100%;
  overflow: hidden;
}
#projects .project-card .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
#projects .project-card .project-image img:hover {
  transform: scale(1.05);
}
#projects .project-card .project-content {
  padding: 1.8rem;
}
#projects .project-card .project-content h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #7F6ED6;
  font-weight: 600;
}
#projects .project-card .project-content p {
  margin-bottom: 1.5rem;
  color: #555;
  line-height: 1.6;
}
#projects .project-card .project-content .project-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
#projects .project-card .project-content .project-links a {
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}
#projects .project-card .project-content .project-links a.btn-project {
  background: #7F6ED6;
  color: #ece8f8;
  transition: background-color 0.3s ease, transform 0.3s;
}
#projects .project-card .project-content .project-links a.btn-project:hover {
  background: rgb(103, 80.7777777778, 213.2222222222);
  transform: translateY(-2px);
}
#projects .project-card .project-content .project-links a.btn-github {
  border: 2px solid #555;
  color: #555;
}
#projects .project-card .project-content .project-links a.btn-github:hover {
  background: #ece8f8;
  transform: translateY(-2px);
}
@media (max-width: 1024px) {
  #projects {
    padding: 7rem 2rem 3rem;
  }
  #projects .projects-grid {
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  #projects {
    padding: 7rem 1.5rem 0 1.5rem;
  }
  #projects .projects-grid {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }
  #projects .projects-grid .project-card {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    height: fit-content;
  }
  #projects .projects-grid .project-card .project-image {
    width: 100%;
  }
  #projects .projects-grid .project-card .project-content {
    padding: 1.5rem;
    padding-bottom: 0;
  }
}

/* Skills Section */
#skills {
  padding: 7rem 4rem 2rem 4rem;
}
#skills .skills-container {
  max-width: 1200px;
  margin: 5rem auto 2rem auto;
  text-align: center;
}
#skills .skills-container h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  color: #7F6ED6;
  letter-spacing: 0.3rem;
}
#skills .skills-container .skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.2rem;
}
#skills .skills-container .skills-grid .skill-card {
  background-color: #ece8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 2rem 1.5rem;
  width: 300px;
  text-align: center;
}
#skills .skills-container .skills-grid .skill-card h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #555;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
#skills .skills-container .skills-grid .skill-card span {
  font-size: 14px;
  margin: 0.1rem 0.3rem;
  padding: 0.5rem;
  border: 1px solid #7F6ED6;
  color: #555;
  border-radius: 8px;
}
@media (max-width: 768px) {
  #skills {
    padding: 6rem auto 1rem auto;
    border: solid red 1px;
  }
  #skills .skills-container h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  #skills .skills-grid .skill-card {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
