// Variáveis
$font-primary: 'Montserrat', sans-serif;
$font-secondary: "Playwrite IN", serif;
$color-primary: #7F6ED6;
$color-dark: #000;
$color-light: #ece8f8;
$primary-color: #482FC4;
$color-secondary: #FF6B00;
$color-tertiary: #9992C1;
$navbar-bg: #000000; // Nova variável para background da navbar
$extra-font: "Cookie", serif;
$text-color: #555;

// Breakpoints
$tablet-width: 768px;
$mobile-width: 320px;

@font-face {
  font-family: 'Amsterdam Two';
  src: url('/fonts/amsterdam-two-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Mixins para media queries
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

// Estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  padding: 0.2;
  background-color: $navbar-bg !important; // Alteração da cor do background

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .logo {
    // font-family: $extra-font;
    font-size: 2rem;
    color: $color-tertiary;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 1rem 0;
    padding: 0.5rem 0;

    @include tablet {
      font-size: 1.5rem;
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  .navbar-collapse {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav {
    display: flex;
    gap: 2rem;

    @include tablet {
      gap: 1rem;
    }

    @include mobile {
      gap: 0.5rem;
    }
  }

  .nav-link {
    color: $color-light;
    &:hover {
      color: $color-primary;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

// Efeito esconder/mostrar
.nav-up {
  top: -100px; // Esconde a navbar
}

.nav-down {
  top: 0; // Mostra a navbar
}

// Links com efeito de "hover" (sombra e movimento)
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition: transform 0.3s;

  &:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
    &:before {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
}

// Header
.hero {
  position: relative;
  background: url('../assets/header_bg2.jpg') no-repeat center center/cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: $color-light;

  // Criando a camada opaca
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0; //limita a altura
    background-color: rgba(0, 0, 0, 0.7); // Camada opaca ajustável
    z-index: 1; // Garante que a camada fique atrás do conteúdo
  }

  .hero-content {
    position: relative; // Mantém o conteúdo acima da camada opaca
    z-index: 2;
    max-width: 800px;

    h1 {
      font-family: $font-primary;
      font-size: 3rem;
      margin-bottom: 1rem;
      letter-spacing: 0.2rem;

      @include tablet {
        font-size: 2.5rem;
      }

      @include mobile {
        font-size: 2rem;
        margin-bottom: 3rem;
        letter-spacing: 0.1rem;
      }
    }

    p {
      font-family: $font-primary;
      font-size: 1.2rem;
      margin-bottom: 2rem;

      @include tablet {
        font-size: 1rem;
      }

      @include mobile {
        font-size: 0.9rem;
      }
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;

      @include tablet {
        flex-direction: column;
        gap: 0.5rem;
      }

      @include mobile {
        display: grid;
      }
    }
  }
}

// Botões estilosos e responsivos
.btn-ghost,
.btn-outline-light {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px; // Bordas levemente arredondadas
  text-decoration: none; // Remove sublinhado
  display: inline-block;

  @include tablet {
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
  }

  @include mobile {
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
  }
}

.btn-ghost {
  background-color: $color-primary;
  color: $color-light;
  border: 1px solid $color-light;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: lighten($primary-color, 10%);
    color: $color-dark;
    font-weight: 700;
  }
}

.btn-outline-light {
  background-color: transparent;
  color: $color-light;
  border: 1px solid $color-light;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $color-light;
    color: $primary-color;
    font-weight: 700;
  }
}

//footer
footer {
  display: block;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $navbar-bg;
  overflow: hidden;

  h1 {
    font-size: 33px;
    text-align: center;
    font-family: $extra-font;
    // text-transform: uppercase;
    color: $color-light;
    letter-spacing: 0.2rem;
  }

  .list-inline {
    text-align: center;
    display: flex;
    justify-content: center;


    li {
      display: inline;
      padding: 2rem 0;

      a {
        padding: 0.7rem;
        margin: 1.5rem;
        font-size: 1.7rem;
        color: $color-light;
        text-decoration: none;
        border-radius: 8px;
        border: solid 0.1px $color-light;
        transition: transform 0.3s ease;

        &:hover {
          color: $color-primary;
          transform: scale(1.2);
        }
      }
    }
  }

  p {
    margin: 0; // Remove qualquer margem padrão do elemento
    color: $color-tertiary;

  }
}

// About section
#about {
  // Container
  display: flex;
  align-items: flex-start; // Alinha items no topo
  justify-content: space-between;
  padding: 10rem 4rem 4rem; // Aumenta padding superior para compensar navbar
  gap: 4rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  // Image container
  .image-container {
    flex: 1;
    max-width: 500px;
    padding-top: 1rem;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  // Content container
  .content-container {
    flex: 1;
    padding-top: 1rem; // Ajusta alinhamento vertical com a imagem

    h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: $color-primary;
      letter-spacing: 0.3rem;

      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      margin-bottom: 1.5rem;
      color: $text-color;

      &.w3-text-grey {
        color: $text-color;
      }

      strong {
        font-weight: 600;
        color: $text-color
      }
    }
  }

  // Tablet responsiveness
  @media (max-width: 1024px) {
    padding-top: 8rem;
    gap: 2rem;

    .content-container {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }

    .image-container {
      max-width: 40%;
    }
  }

  // Mobile responsiveness
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 6rem 1.5rem 2rem;
    text-align: center;

    .navbar .logo-container {
      margin-bottom: 0;
    }

    .image-container {
      max-width: 100%;
      margin: 0 auto 2rem;
      margin-top: 2rem;
    }

    .content-container {
      padding-top: 0;

      h1 {
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

// Projects section
#projects {
  padding: 8rem 4rem 4rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;

  .projects-container {
      max-width: 1200px; // Limita a largura máxima do container
      margin: 0 auto;

      h2 {
          font-size: 1.5rem;
          margin: 3rem;
          text-align: center;
          color: $color-primary;
          letter-spacing: 0.3rem;
      }

      h4 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
        font-family: $extra-font;
        font-size: 2rem;
        color: $color-primary;
      }
  }


  .projects-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Define 2 colunas
      gap: 2.5rem;
      padding: 1rem;

    }

  .project-card {
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      height: 100%; // Garante mesma altura para todos os cards

      &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      .project-image {
          max-width: 100%;
          width: 100%;
          max-height: 250px;
          height: 100%; // Altura fixa para as imagens
          overflow: hidden;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.3s ease;

              &:hover {
                  transform: scale(1.05);
              }
          }
      }

      .project-content {
          padding: 1.8rem;

          h3 {
              margin-bottom: 1rem;
              font-size: 1.5rem;
              color: $color-primary;
              font-weight: 600;
          }

          p {
              margin-bottom: 1.5rem;
              color: $text-color;
              line-height: 1.6;
          }

          .project-links {
              display: flex;
              gap: 1rem;
              justify-content: flex-start;

              a {
                  padding: 0.7rem 1.2rem;
                  border-radius: 8px;
                  text-decoration: none;
                  font-weight: 500;
                  letter-spacing: 0.1rem;
                  transition: all 0.3s ease;

                  &.btn-project {
                      background: $color-primary;
                      color: $color-light;
                      transition: background-color 0.3s ease, transform 0.3s;

                      &:hover {
                          background: lighten($primary-color, 10%);
                          transform: translateY(-2px);
                      }
                  }

                  &.btn-github {
                      border: 2px solid $text-color;
                      color: $text-color;

                      &:hover {
                          background: $color-light;
                          transform: translateY(-2px);
                      }
                  }
              }
          }
      }
  }

  // Tablet responsiveness
  @media (max-width: 1024px) {
    padding: 7rem 2rem 3rem;

    .projects-grid {
        gap: 2rem;
    }
  }

  // Mobile responsiveness
  @media (max-width: 768px) {
    padding: 7rem 1.5rem 0 1.5rem;

    .projects-grid {
      grid-template-columns: 1fr; // Uma coluna em mobile
      gap: 0;
      padding: 0;

      .project-card {
        margin-top: 0;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        height: fit-content;

        .project-image {
          width: 100%;
        }

        .project-content {
          padding: 1.5rem;
          padding-bottom: 0;
        }
      }
    }
  }
}

/* Skills Section */
#skills {
  padding: 7rem 4rem 2rem 4rem;

  .skills-container {
    max-width: 1200px;
    margin: 5rem auto 2rem auto;
    text-align: center;

    h2 {
      margin-bottom: 30px;
      font-size: 1.5rem;
      text-align: center;
      color: $color-primary;
      letter-spacing: 0.3rem;
    }

    .skills-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-bottom: 1.2rem;

      .skill-card {
        background-color: $color-light;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        padding: 2rem 1.5rem;
        width: 300px;
        text-align: center;

        h3 {
          font-size: 0.9rem;
          margin-bottom: 15px;
          color: $text-color;
          font-family: $font-primary;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-weight: 700;
        }

        span {
          font-size: 14px;
          margin: 0.1rem 0.3rem;
          padding: 0.5rem;
          border: 1px solid $color-primary;
          color: $text-color;
          border-radius: 8px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 6rem auto 1rem auto;
    border: solid red 1px;

    .skills-container {

      h2 {
        font-size: 1rem;
        margin-bottom: 20px;
      }
    }

    .skills-grid {
      .skill-card {
        width: 100%; // Ajusta para 100% em dispositivos móveis
      }
    }
  }
}
