// Variáveis
$font-primary: 'Montserrat', sans-serif;
$font-secondary: "Playwrite IN", serif;
$color-primary: #7F6ED6;
$color-dark: #000;
$color-light: #D7D4E1;
$primary-color: #482FC4;
$color-secondary: #FF6B00;
$navbar-bg: #191919; // Nova variável para background da navbar
$extra-font: "Cookie", serif;

// Breakpoints
$tablet-width: 768px;
$mobile-width: 320px;

// Mixins para media queries
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

// Estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  padding: 1rem 0;
  background-color: $navbar-bg !important; // Alteração da cor do background

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .logo {
    font-family: $extra-font;
    font-size: 3rem;
    color: $color-primary;
    font-weight: lighter;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;

    @include tablet {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.5rem;
    }
  }

  .navbar-collapse {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav {
    display: flex;
    gap: 2rem;

    @include tablet {
      gap: 1rem;
    }

    @include mobile {
      gap: 0.5rem;
    }
  }

  .nav-link {
    color: $color-light;
    &:hover {
      color: $color-primary;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

// Efeito esconder/mostrar
.nav-up {
  top: -100px; // Esconde a navbar
}

.nav-down {
  top: 0; // Mostra a navbar
}

// Links com efeito de "hover" (sombra e movimento)
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition: transform 0.3s;

  &:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
    &:before {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
}

// Header
.hero {
  position: relative;
  background: url('../img/header_bg2.jpg') no-repeat center center/cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: $color-light;

  // Criando a camada opaca
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0; //limita a altura
    background-color: rgba(0, 0, 0, 0.7); // Camada opaca ajustável
    z-index: 1; // Garante que a camada fique atrás do conteúdo
  }

  .hero-content {
    position: relative; // Mantém o conteúdo acima da camada opaca
    z-index: 2;
    max-width: 800px;

    h1 {
      font-family: $font-primary;
      font-size: 3rem;
      margin-bottom: 1rem;
      letter-spacing: px;

      @include tablet {
        font-size: 2.5rem;
      }

      @include mobile {
        font-size: 2rem;
      }
    }

    p {
      font-family: $font-primary;
      font-size: 1.2rem;
      margin-bottom: 2rem;

      @include tablet {
        font-size: 1rem;
      }

      @include mobile {
        font-size: 0.9rem;
      }
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;

      @include tablet {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

// Botões estilosos e responsivos
.btn-ghost,
.btn-outline-light {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px; // Bordas levemente arredondadas
  text-decoration: none; // Remove sublinhado
  display: inline-block;

  @include tablet {
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
  }

  @include mobile {
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
  }
}

.btn-ghost {
  background-color: $color-primary;
  color: $color-light;
  border: 1px solid $color-light;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: lighten($primary-color, 10%);
    color: $color-dark;
    font-weight: 700;
  }
}

.btn-outline-light {
  background-color: transparent;
  color: $color-light;
  border: 1px solid $color-light;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $color-light;
    color: $primary-color;
    font-weight: 700;
  }
}

//footer
.footer {
  margin: 0;
  padding: 1rem;
  background-color: $navbar-bg;
  color: $color-light;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    p {
      margin: 0; // Remove qualquer margem padrão do elemento
    }
  }
}

// About Section
.about-section {
  padding: 4rem 0;
  background-color: #f8f9fa;
}

.about-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  @include tablet {
    padding: 0 2rem;
  }

  @include mobile {
    padding: 0 1rem;
  }
}

// Nova estrutura para imagem com moldura
.profile-image-container {
  width: 400px;
  height: 400px;
  position: relative;
  // margin-bottom: 2rem;
  padding-top: 16px;

  @include tablet {
    width: 250px;
    height: 250px;
  }

  @include mobile {
    width: 200px;
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid $color-primary;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

// Card do About
.about-card {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;

  h2 {
    color: $color-primary;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    line-height: 1.6;
    color: $color-dark;
    margin-bottom: 1rem;
  }
}

// Skills Section
.skills-section {
  background-color: white;
  padding: 4rem 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}
