/* Aplicando Montserrat como fonte padrão */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; /* Espaço para a navbar fixa */
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  text-align: center;
}

.navbar .navbar-header {
  margin-bottom: 0.5rem;
}

.navbar .navbar-header .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.navbar .navbar-nav .nav-link:hover {
  color: #7F6ED6;
  text-decoration: none;
  transform: translateY(-2px);
}

/*efeito adicional de sombra no hover*/

.navbar .navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: #7F6ED6;
  opacity: 0;
  transform: scaleX(0);
  transition: width 0.3s ease, opacity 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('img/header_1.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff; /* Garante que o texto seja legível */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.hero a {
  margin-top: 1rem;
}
