// Variáveis
$font-primary: 'Montserrat', sans-serif;
$color-primary: #7F6ED6;
$color-dark: #000;
$color-light: #D7D4E1;
$primary-color: #482FC4;
$font-secondary: "Playwrite IN", serif;

// Estilos gerais
body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  padding: 1rem 0;

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .logo {
    font-family: $font-secondary;
    font-size: 2.5rem;
    color: $color-light;
    margin: 0;
    padding: 0.5rem 0;
  }

  .navbar-collapse {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav {
    display: flex;
    gap: 2rem;
  }

  .nav-link {
    color: $color-light;
    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

// Efeito esconder/mostrar
.nav-up {
  top: -100px; // Esconde a navbar
}

.nav-down {
  top: 0; // Mostra a navbar
}

// Links com efeito de "hover" (sombra e movimento)
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition: transform 0.3s;

  &:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
    &:before {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
}

// media queries para responsividade
@media (max-width: 991px) {
  .navbar-nav{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
